button {
	margin: 30px;
	transition: 0.5s;
}

.first:active{
	transform: rotate(90deg);
}

.second:active{
	transform: translate(10px, 10px);
	font-size: 16px;
	font-weight: bold;
}

.third:hover{
	transform: matrix(1.2,0,0.3,1.2,10,0);
}
